API_ID=
API_HASH=

# determines which bot will be used
BOT_TOKEN=

DB_HOST=
DB_PASSWORD=
DB_PORT=

REDIS_HOST=
REDIS_PORT=

# SMP
SMP_APP_ID=
SMP_APP_SECRET=

# Telegram channel for support
SUPPORT_CHAT_URL=

## Tuning - optional
# TELEGRAM_FLOOD_CONTROL_PAUSE_S=
# TROTTLING_WAIT_BETWEEN_PAID_REQUESTS_S=
# TROTTLING_WAIT_BETWEEN_REQUESTS_S=

## Debug - optional
# DISCORD_WEBHOOK=
# LOG_LEVEL=
# SEND_PLATFORM_METRICS_DATA=

## auto-update fields (by git hook/start)
BOT_NAME=
BOT_VERSION=
